@charset "utf-8";
/* CSS Document */
.apply_hurry_form td {
	text-align: left;
	font-size: 14px;
}

.apply_hurry_form td input {
	height: 20px;
	line-height: 20px;
}

a.shengqing {
	background: #F60;
	padding: 5px 15px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	margin: 10px 0 -15px -10px;
	display: block;
	width: 65px;
}

a.shengqing:hover {
	background: #063;
}

table.datagrid {
	border-collapse: collapse;
}

table.datagrid tbody td {
	text-align: center;
	padding: 6px 10px;
	line-height: 1.5em;
	vertical-align: top;
	border: 1px solid #ccc;
	border-collapse: collapse;
}

table.datagrid td input[type='checkbox'] {
	margin: auto;
	display: block;
	line-height: 40px;
	font-size: 25px;
	height: 20px;
	width: 20px;
	vertical-align: bottom;
}

table.datagrid tbody td.content {
	text-align: left;
}

table.datagrid tbody td.content a:hover {
	text-decoration: underline;
}