@charset "utf-8";

/* CSS Document */

/*样式重置开始*/
*{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration:none;}
.clear{clear:both;}
/*样式重置结束*/
.nav_zcxjh{
	background:#372923;}
	
.banner{
	margin-bottom:22px;}
.main{
	padding-bottom:34px;}
.main_l{
	float:left;
	background:#e5e5e6;
	height:1128px;
	width:694px;
	margin-right:24px;}
.main_r{
	float:left;
	background:#e5e5e6;
	height:1128px;
	width:306px;
}



.box{
	width:640px;
	height:196px;
	margin-top:22px;
	margin-left:24px;
	border:1px solid #544e4b;}
.box img{
	float:left;}
.box_l{
	float:left;
	width:300px;
	margin-left:34px;
	
	}
.box_r{
	float:left;}
		
 .box h1{
	 font-family:"微软雅黑";
	 font-size:20px;
	 color:#6e5c51;
	 line-height:20px;
	
	 margin-top:22px;
	 margin-bottom:22px;
	 
	 }	
	
.box_l h2{
	
	 font-family:"微软雅黑";
	 font-size:14px;
	 color:#6e5c51;
	 margin-top:4px;
	
	}

.box .red{
	color:#e1421d;
	margin-top:40px;}	
	
.box_r h2{
	font-family:"微软雅黑";
	 font-size:14px;
	 color:#6e5c51;
	 margin-top:20px;
	 
	 
	}
 	
.an1{
	display:block;
	width:84px;
	height:30px;
	font-family:"微软雅黑";
	 font-size:16px;
	 color:#cdc8c2;
	 line-height:26px;
	 background:#6c5d53;
	 border-radius:4px;
	 text-align:center;
	 color:#fff;
	 margin-top:14px;
	 margin-bottom:10px;
	background:#e03919;
	}
	
.gjzss{
	float:left;
	height:34px;
	line-height:34px;
	width:216px;
	border:1px solid #756c66;
	background:#aaaaaa;
	border-radius:4px 0px 0px 4px;
	color:#fff;
	font-size:16px;
	margin:14px 0px 0px 14px;;
	padding-left:10px;
	border:hidden;
	}	
	
.ss{
	float:left;
	height:34px;
	width:60px;
	background:#e0381a;
	font-size:18px;
	margin-top:14px;
	text-align:center;
	border:hidden;
	border-radius:0px 4px 4px 0px;
	color:#fff;
	line-height:32px;}


.xxss{
	float:left;
	height:34px;
	width:66px;
	background:#e0381a;
	font-size:14px;
	margin-top:14px;
	text-align:center;
	border:hidden;
	border-radius:4px 0px 0px 4px ;
	color:#fff;
	line-height:32px;
	margin:14px 0px 0px 14px;}

.xlk{
	float:left;
	height:34px;
	line-height:34px;
	width:186px;
	border:1px solid #756c66;
	background:#fff;
	color:#fff;
	font-size:16px;
	margin-top:14px;
	padding-left:10px;
	border:hidden;
	}	
select{
	height:34px;
	line-height:34px;
	width:210px;
	color:#fff;
	font-size:16px;
	margin-top:14px;
	border:hidden;
	float:left;
	height:34px;
	line-height:34px;
	border:1px solid #756c66;
	background:#fff;
	color:#6c5d53;
	font-size:16px;
	border:hidden;
	border-radius:0px 4px 4px 0px;
	margin-top:14px;
	text-align:center;
	}



.rlben{
	margin-left:14px;
	width:274px;
	height:248px;
	background:#fff;
	}
	
.rl h1{
	text-align:center;
	 font-family:"微软雅黑";
	 font-size:24px;
	 font-weight:400;
	 color:#6e5c51;
	 line-height:20px;
	 margin-top:28px;
	 margin-bottom:18px;}
.ads img{
		margin-top:14px;
		margin-left:14px;}	
