@charset "utf-8";
body {
	font-family: 'Microsoft YaHei', 微软雅黑, SimSun, 宋体;
}

.f_login {
	background-color: #FFF;
	width: 606px;
	height: auto;
	margin: auto;
	text-align: center;
	padding-top: 40px;
	position:relative;
}
.f_login .left {width:350px;}
.f_login .right {width:256px;position:absolute;right:0;top:0;padding-top:15px;text-align:center;}
.f_login .right p {text-align:center;}
.login4 .input-prepend input {
	width: 262px;
	height: 40px;
	background-color:#eee;
	border:none;
}

.f_login .controls {
	width: 290px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

a.aui_close_btn {
	font-size: 26px;
	line-height:26px;
	font-weight: 100;
	color: #fff;
}

a.aui_close_btn:hover {
	text-decoration: none;
	color: #EF4B4B;
}

.f_login .control-group {
	width: auto;
}

.login4 #login4 {
	width: auto;
	height: auto;
	background-color: transparent;
	border-radius: none;
	padding: 0;
	box-shadow: none;
}