@charset "utf-8";
.breadcrumb { background:none; background-color:transparent;}

.select-condition .more a{ margin-top:5px; padding:0 5px;background:#F0EFEF; border:1px solid #8CCFFF; color:#8CCFFF; line-height:18px;}
.select-condition .more a .caret { vertical-align:middle; border-top-color:#8CCFFF;}
/*
.orange_hr {
	background:url(img/about_hr.jpg);
	height:4px;
	border-radius:2px 2px 2px 2px;
}
*/