<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>211zph</display-name>
  <context-param>
    <param-name>kissoConfigLocation</param-name>
    <param-value>classpath:sso.properties</param-value>
  </context-param>
  <listener>
    <listener-class>com.baomidou.kisso.web.KissoConfigListener</listener-class>
  </listener>
  <!-- 
  <filter>
    <filter-name>DruidWebStatFilter</filter-name>
    <filter-class>com.alibaba.druid.support.http.WebStatFilter</filter-class>
    <init-param>
        <param-name>exclusions</param-name>
        <param-value>*.js,*.gif,*.jpg,*.png,*.css,*.ico,/druid/*</param-value>
    </init-param>
    <init-param>
        <param-name>sessionStatMaxCount</param-name>
        <param-value>1000</param-value>
    </init-param>
    <init-param>
        <param-name>sessionStatEnable</param-name>
        <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>DruidWebStatFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  -->
  <filter>
    <filter-name>subStation</filter-name>
    <filter-class>com.zhaopin.filter.SubstationFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>daqin_manager</filter-name>
    <filter-class>com.zhaopin.admin.filter.AdminMenuFilter</filter-class>
    <init-param>
      <param-name>level</param-name>
      <param-value>1</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>proc_prividge</filter-name>
    <filter-class>cn.com.zhaopin.base.pub.common.ESBServerFilter</filter-class>
    <init-param>
      <param-name>level</param-name>
      <param-value>1</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>pageCacheFilter</filter-name>
    <filter-class>net.sf.ehcache.constructs.web.filter.SimplePageCachingFilter</filter-class>
    <init-param>
      <param-name>varyHeader</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>pageCacheFilter</filter-name>
    <url-pattern>/newsDetail.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>subStation</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>daqin_manager</filter-name>
    <url-pattern>/daqin_manager/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>proc_prividge</filter-name>
    <url-pattern>/esbServer.do</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>cn.com.zhaopin.listener.SessionCounter</listener-class>
  </listener>
  <mime-mapping>
    <extension>inc</extension>
    <mime-type>text/plain</mime-type>
  </mime-mapping>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>0</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>0</param-value>
    </init-param>
    <init-param>
      <param-name>config/daqin_manager</param-name>
      <param-value>/WEB-INF/struts-config-admin.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/zk</param-name>
      <param-value>/WEB-INF/struts-config-zk.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/student</param-name>
      <param-value>/WEB-INF/struts-config-student.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/sheet</param-name>
      <param-value>/WEB-INF/struts-config-sheet.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/mobile</param-name>
      <param-value>/WEB-INF/struts-config-mobile.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/company</param-name>
      <param-value>/WEB-INF/struts-config-company.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/school</param-name>
      <param-value>/WEB-INF/struts-config-school.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/spider</param-name>
      <param-value>/WEB-INF/struts-config-spider.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/special</param-name>
      <param-value>/WEB-INF/struts-config-special.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/netcongress</param-name>
      <param-value>/WEB-INF/struts-config-netcongress.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/auth</param-name>
      <param-value>/WEB-INF/struts-config-auth.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/member</param-name>
      <param-value>/WEB-INF/struts-config-member.xml</param-value>
    </init-param>
    <init-param>
      <param-name>config/jobfair</param-name>
      <param-value>/WEB-INF/struts-config-jobfair.xml</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>uploadifyDownFile</servlet-name>
    <servlet-class>cn.com.zhaopin.base.pub.sDownFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadifyDownFile</servlet-name>
    <url-pattern>/uploadifyDownFile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DruidStatView</servlet-name>
    <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
    <init-param>
      <!-- 允许清空统计数据 -->
      <param-name>resetEnable</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>loginUsername</param-name>
      <param-value>druid</param-value>
    </init-param>
    <init-param>
      <param-name>loginPassword</param-name>
      <param-value>xcdaqin211zphui</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DruidStatView</servlet-name>
    <url-pattern>/druid/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jcaptcha</servlet-name>
    <servlet-class>com.octo.captcha.module.servlet.image.SimpleImageCaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>jcaptcha</servlet-name>
    <url-pattern>/jcaptcha.jpg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuartzInitializer</servlet-name>
    <servlet-class>cn.com.zhaopin.quartz.QuartzInitializer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>/tree</taglib-uri>
      <taglib-location>/WEB-INF/tld/tree.tld</taglib-location>
    </taglib>
  </jsp-config>
  <resource-ref>
    <description>New JDBC Datasource</description>
    <res-ref-name>jdbc/db</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <error-page>
    <error-code>401</error-code>
    <location>/errpage/401.html</location>
  </error-page>
  <error-page>
    <error-code>402</error-code>
    <location>/errpage/402.html</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/errpage/403.html</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/errpage/404.html</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/errpage/405.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/errpage/500.html</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/errpage/503.html</location>
  </error-page>
  <error-page>
	<exception-type>java.lang.Exception</exception-type>
    <location>/WEB-INF/templets/exception/exception.jsp</location>
  </error-page>
	<!--    
  <distributable />
	-->
</web-app>

